/* Elements */
h1 {
  font-family: 'Glass Antiqua', cursive;
}

h4 {
  font-family: 'Glass Antiqua', cursive;
}

p {
  font-family: 'Raleway', sans-serif;
}

a {
  font-family: 'Raleway', sans-serif;
}

span {
  font-family: 'Raleway', sans-serif;
}

/* Heading */
.heading {
  text-align: center;
  background-color: #470024;
  Color: #ffffff;
  padding-top: 0px;
}

.nav-item a:link{
  color: #ffffff;
}

.nav-item a:visited{
  color: #ffffff;
}

.nav-item a:hover{
  color: #ffffff;
  text-decoration: underline;
}

.heading img{
  width: 50px;
  float: center;
  margin-right: 15px;
  background-color: #a29587;
}

.navbar {
  background-color: #470024;
}

/* Features Carousel */
.d-block {
  height: 100px;
  vertical-align: center;
}

.carousel-item {
  padding: 0 15%;
  vertical-align: center;
}

#carousel-prime {
  margin-left:auto;
  margin-right: auto;
  margin-top: 10px;
  text-align: center;
  background-color: #a29587;
  color: #000000;
  width: 55%;
  height: 200px;
  vertical-align: center;
}

.my-carousel {
  margin: 5%;
  vertical-align: center;
}


/* card deck */
.card-img {
  height: 50px;
}

.card-body{
  text-align: center;
}

.card-body a:link{
  color: #470024;
}

.card-body a:visited{
  color: #470024;
}

.card-body a:hover{
  color: #470024;
}
/* foot */

.bottom {
  background-color: #470024;
  display: block;
  position: relative;
  bottom: 0;
  height: 50px;
  width: 100%;
  text-align: center;
  color: #ffffff;
  vertical-align: bottom;
}
